{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kOtOwls</title>
    {% include 'main/stylehtm.html' %}
    <script id="MathJax-script" async src="{% static 'main/mathJax/tex-chtml.js' %}"></script>
</head>
<body>
    {% include 'main/headermenu.html' %}
    <div class="main-content">

        <!-- Форма для ввода текста -->
        <h1>Введите ваш текст</h1>
        <form method="POST" class="input-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit" name="submit_text">Отправить</button>
        </form>
        {% if text %}
        <div class="output-text">
            <h2>Вы ввели:</h2>
            <p>{{ text }}</p>
        </div>
        {% endif %}

        <!-- Форма для загрузки изображения -->
        <h1>Загрузите ваше фото</h1>
        <form method="POST" class="input-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="submit_image">Отправить</button>
        </form>
        {% if image_url %}
        <div class="image-output">
            <h2>Загруженное фото:</h2>
            <img src="{{ image_url }}" alt="Загруженное изображение" width="500">
        </div>
        {% endif %}
        {% if latex_text %}
        <div class="latex-formula">
            <p>Latex: {{ latex_text }}</p>
        </div>
        {% endif %}

        {% if results %}
        <div class="similarity-output">
            <h2>Результаты проверки оригинальности:</h2>
            <p><strong>Метод difflib - Максимальное сходство:</strong> {{ results.max_similarity_difflib|floatformat:2 }}%</p>
            <p><strong>Формула, наиболее похожая (difflib):</strong> {{ results.most_similar_formula_difflib }}</p>
            <p><strong>Легенда, наиболее похожая (difflib):</strong> {{results.most_similar_legend_difflib }}</p>
            <p><strong>Метод нейросети - Максимальное сходство:</strong> {{ results.max_similarity_nn|floatformat:2 }}%</p>
            <p><strong>Формула, наиболее похожая (нейросеть):</strong> {{ results.most_similar_formula_nn }}</p>
            <p><strong>Легенда, наиболее похожая (нейросеть):</strong> {{ results.most_similar_legend_nn }}</p>
            <div class="similarity-bar">
                <p><strong>Процент сходства (difflib):</strong> {{ results.max_similarity_difflib|floatformat:2 }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ results.max_similarity_difflib }}%;"></div>
                </div>
            </div>
            <div class="similarity-bar">
                <p><strong>Процент сходства (нейросеть):</strong> {{ results.max_similarity_nn|floatformat:2 }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ results.max_similarity_nn }}%;"></div>
                </div>
            </div>
            <p><strong>Формула была добавлена в базу данных</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
