<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kOtOwls</title>
    {% include 'main/stylehtm.html' %}
    <style>
        p {
         font-size: 14pt; /* Размер шрифта в пунктах */ 
        }
       </style>
</head>
<body>
    {% include 'main/headermenu.html' %}
    <div class="main-content">
        <h1>O LaTeX:</h1>
        <div class="output-text">
            <h2>
                LaTeX </h2>
                <p >
                    
                    — наиболее популярный набор макрорасширений (или макропакет) системы компьютерной вёрстки TeX, который облегчает набор сложных документов. В типографском наборе системы TeX форматируется традиционно как LAΤΕΧ.
                    Пакет позволяет автоматизировать многие задачи набора текста и подготовки статей, включая набор текста на нескольких языках, нумерацию разделов и формул, перекрёстные ссылки, размещение иллюстраций и таблиц на странице, ведение библиографии и др. Кроме базового набора существует множество пакетов расширения LaTeX.
                    Общий внешний вид документа в LaTeX определяется стилевым файлом. Существует несколько стандартных стилевых файлов для статей, книг, писем и т. д., кроме того, многие издательства и журналы предоставляют свои собственные стилевые файлы, что позволяет быстро оформить публикацию, соответствующую стандартам издания.
                </p> 
                
        </div>
        <div class="image-output">
            <h2>Пример работы LaTeX</h2>
            <img src="{% static 'main/images/latextranslate.png' %}" alt="Загруженное изображение" width="600">
        </div>
    </div>
</body>
</html>
