<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kOtOwls</title>
    {% load static %}
    <script id="MathJax-script" async src="{% static 'main/mathJax/tex-chtml.js' %}"></script>
    {% include 'main/stylehtm.html' %}
</head>
<body>
    {% include 'main/headermenu.html' %}
    <div class="main-content">
        <h1>Загрузите ваше фото с формулой</h1>
        <form method="POST" class="input-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
        {% if image_url %}
        <div class="image-output">
            <h2>Загруженное фото:</h2>
            <img src="{{ image_url }}" alt="Загруженное изображение" width="500">
        </div>
        {% endif %}
        {% if latex_text %}
        <div class="latex-formula">
            <p>Latex: {{ latex_text }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>