<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kOtOwls</title>
    {% include 'main/stylehtm.html' %}
</head>
<body>
    {% include 'main/headermenu.html' %}

    <!-- Основной контент -->
    <div class="main-content">
        <h1> O команде </h1>
        <div class="output-text">
<img src=".jpg"  width="150" align="right">
<h2> Перкин Леонид </h2>
<br>
<h3> Возраст: </h3> 18 лет
<h3> ВУЗ: </h3> РТУ МИРЭА
<h3> О себе: </h3> ................................................................................................................................................................................................................................................................                 
 </div>

<div class="main-content">
        <div class="output-text">
<img src="{% static 'main/images/ava1.jpg' %}"  width="150" align="right">
<h2> Тишина Елизавета  </h2>
<br>
<h3> Возраст: </h3> 18 лет
<h3> ВУЗ: </h3> РТУ МИРЭА
<h3> О себе: </h3> Увлекаюсь графическим дизайном и интересуюсь веб-разработкой. До Xакатона MIRE/A\TOM не было опыта участия в подобных проектах. Считаю, Хакатон отличной возможностью развития своего потенциала. Из названия команды идея нашего логотипа возникла сама собой.                  
 </div>
       </body>
</html>
