<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kOtOwls</title>
    {% include 'main/stylehtm.html'%}
    <script id="MathJax-script" async src="{% static 'main/mathJax/tex-chtml.js' %}"></script>
</head>
<body>
    {% include 'main/headermenu.html'%}
    <div class="main-content">
        <h1>Введите ваш формулу</h1>
        <form method="POST" class="input-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
        {% if text %}
        <div class="output-text">
            <h2>Latex:</h2>
            <p>{{ text }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
